#не включать вложенные папки в инклюд.
#Создается вспомогательными проектами
include/

#Не включать папки временных объектов
#и папки IDE
**/x64
**/x86
**/.vs

#Не включать папки сборок
**/Debug
**/Release